<html>

<body>
CREATE ACCOUNT

<form name="frmCreate">
<br> <br>
Create username and password
<br>
<input type="text" id="email">
<input type="text" id="password">
<input type="button" id="createButton" value="Create Account">
</form>

<br>
Your username is:
<input type="text" id="showName">

<br>
<button onclick="window.location.href = 'login.html';">Go To Login Page</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./static/create.js"></script>
</body>
</html>
