<html>

<head>
<!-- <script type="text/javascript">
var op = {{ opsys }}
</script> -->
</head>

<body>
This is our homepage now
<a href='events'>Events</a>

<form name="frmCreate">
<br> <br>
Create username and password
<br>
<input type="text" id="username">
<input type="text" id="password">
<input type="button" id="createButton" value="Create Account">
</form>

<br>
Your username is:
<input type="text" id="showName">

</br>
<button onclick= "window.location.href='login.html'"> Go to Login </button>
<button onclick= "window.location.href='create.html'"> Create Account </button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./static/index.js"></script>
</body>
</html>
